{% extends 'master.html' %}
{% load static %}
{% block content %}
<div>
<h1 class="text-primary text text-center">


    <table class="table table-warning">
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Size</th>
            <th>Price</th>
            <th>Pay</th>
        </tr>
        {% for product in all_productss %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.qtty }}</td>
                <td>{{ product.size }}</td>
                <td>{{ product.price }}</td>
                <td><a class="btn btn-info" href="/pay/{{ product.id }}">Pay</a></td>

            </tr>
        {% endfor %}
    </table>
</h1>
</div>
{% endblock %}